<div class="content">

  <header>
    <app-header></app-header>
  </header>


  <main>

    <mat-sidenav-container class="sidenav-container" [style.backgroundColor]="white"
                           [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

      <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="40">

        <mat-nav-list>
          <app-nav-left></app-nav-left>
        </mat-nav-list>

      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>

  </main>

  <footer>
    <app-footer></app-footer>
  </footer>

</div>
