<div class="home">

  <header>
    <nav>
      <mat-chip-list>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Naan</mat-chip>
        <mat-chip>Dal</mat-chip>
      </mat-chip-list>
    </nav>
  </header>

  <div class="main-content">

    <aside class="left">
        Home page left content
      </aside>


    <main>

        <header class="grid">
          <div>
            css grid col1
          </div>
          <div>
            col2
          </div>
          <div>
            col3
          </div>
          <div>
            col4
          </div>
        </header>

        <section>
          <article class="p1">

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </article>

          <article class="p2">

            <p>
              CSS flexbox
              AAAAA Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              BBBBB Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget nunc lobortis mattis aliquam faucibus. Nisi scelerisque eu ultrices vitae. Neque sodales ut etiam sit amet nisl. Massa placerat duis ultricies lacus sed turpis tincidunt id. Eros in cursus turpis massa tincidunt dui ut ornare. A diam sollicitudin tempor id eu nisl nunc. A diam sollicitudin tempor id eu nisl nunc mi. Nibh mauris cursus mattis molestie a. Pellentesque elit eget gravida cum sociis natoque penatibus. Mi sit amet mauris commodo quis imperdiet. Gravida arcu ac tortor dignissim.
            </p>
            <p>
              CCCCC Hendrerit gravida rutrum quisque non. Consectetur lorem donec massa sapien faucibus. Fermentum dui faucibus in ornare quam viverra. Augue neque gravida in fermentum et. Congue nisi vitae suscipit tellus mauris a diam. Amet aliquam id diam maecenas. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Leo urna molestie at elementum eu facilisis. Porta lorem mollis aliquam ut porttitor leo a. Posuere urna nec tincidunt praesent semper feugiat nibh. Ut etiam sit amet nisl purus in mollis nunc. A lacus vestibulum sed arcu non odio euismod. Et netus et malesuada fames ac turpis egestas. Feugiat sed lectus vestibulum mattis. Diam maecenas ultricies mi eget mauris. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Eleifend donec pretium vulputate sapien nec sagittis. Duis ut diam quam nulla porttitor massa id neque aliquam.
              DDDDD Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Pulvinar sapien et ligula ullamcorper. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Vitae justo eget magna fermentum iaculis eu non. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Tristique et egestas quis ipsum suspendisse ultrices. Et malesuada fames ac turpis egestas. In cursus turpis massa tincidunt dui. Tortor dignissim convallis aenean et tortor at risus. Amet consectetur adipiscing elit pellentesque. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Faucibus in ornare quam viverra orci. Leo integer malesuada nunc vel risus commodo viverra maecenas. Cras ornare arcu dui vivamus arcu. Convallis aenean et tortor at risus. Integer eget aliquet nibh praesent tristique magna sit. Natoque penatibus et magnis dis. Neque gravida in fermentum et.
            </p>

          </article>


          <article class="p3">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget nunc lobortis mattis aliquam faucibus. Nisi scelerisque eu ultrices vitae. Neque sodales ut etiam sit amet nisl. Massa placerat duis ultricies lacus sed turpis tincidunt id. Eros in cursus turpis massa tincidunt dui ut ornare. A diam sollicitudin tempor id eu nisl nunc. A diam sollicitudin tempor id eu nisl nunc mi. Nibh mauris cursus mattis molestie a. Pellentesque elit eget gravida cum sociis natoque penatibus. Mi sit amet mauris commodo quis imperdiet. Gravida arcu ac tortor dignissim.
            </p>
              <p>
                Hendrerit gravida rutrum quisque non. Consectetur lorem donec massa sapien faucibus. Fermentum dui faucibus in ornare quam viverra. Augue neque gravida in fermentum et. Congue nisi vitae suscipit tellus mauris a diam. Amet aliquam id diam maecenas. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Leo urna molestie at elementum eu facilisis. Porta lorem mollis aliquam ut porttitor leo a. Posuere urna nec tincidunt praesent semper feugiat nibh. Ut etiam sit amet nisl purus in mollis nunc. A lacus vestibulum sed arcu non odio euismod. Et netus et malesuada fames ac turpis egestas. Feugiat sed lectus vestibulum mattis. Diam maecenas ultricies mi eget mauris. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Eleifend donec pretium vulputate sapien nec sagittis. Duis ut diam quam nulla porttitor massa id neque aliquam.
                Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Pulvinar sapien et ligula ullamcorper. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Vitae justo eget magna fermentum iaculis eu non. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Tristique et egestas quis ipsum suspendisse ultrices. Et malesuada fames ac turpis egestas. In cursus turpis massa tincidunt dui. Tortor dignissim convallis aenean et tortor at risus. Amet consectetur adipiscing elit pellentesque. Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Faucibus in ornare quam viverra orci. Leo integer malesuada nunc vel risus commodo viverra maecenas. Cras ornare arcu dui vivamus arcu. Convallis aenean et tortor at risus. Integer eget aliquet nibh praesent tristique magna sit. Natoque penatibus et magnis dis. Neque gravida in fermentum et.
              </p>
              <p>
                Integer at enim a nisi finibus dignissim non ut massa. In nec felis ac arcu eleifend imperdiet. Maecenas nec odio vestibulum, molestie nunc eget, semper mi. Vestibulum tristique lacus quis enim venenatis cursus. Nunc congue ipsum et tincidunt bibendum. Vivamus ultrices risus eget diam scelerisque, nec vehicula nulla fringilla. Donec ac blandit nisl, dapibus fringilla ex.
              </p>

          </article>

        </section>
        <footer>
          Main content footer
        </footer>

    </main>

    <aside class="right">
        <img src="../../assets/images/cloud-computing.png" class="cloudpng"/>
    </aside>

  </div>

  <footer>
      <aside class="left">
        Content on the left
      </aside>
      <section>
        Home page footer
      </section>
      <aside class="right">
        Content on the right
      </aside>
  </footer>

</div>

